@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #0a060a;
  --background-end-rgb: linear-gradient(to right, #0a020f, #461542, #000000);
  --text-color: #dbdbdb;
}

body {
  color: var(--text-color);
  background: var(--background-end-rgb);
  box-sizing: border-box;
}
nav,
section {
  overflow: hidden;
  padding: 20px 40px;
}
.shadow-image {
  filter: drop-shadow(-10px 15px 8px #3a3a3a);
}
.text-gradient {
  font-family: "Permanent Marker", cursive;
  background: linear-gradient(90deg, #f349e5, #424242);
  -webkit-background-clip: text;
  color: transparent;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
